{%extends "layout.html"%}

{%block main%}
<h1>Your history:</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Transaction Type</th>
      </tr>
    </thead>
    <tbody>
    {% for i in lista %}
      <tr>
        <th>{{ i["symbol"] }}</th>
        <td>{{ i["shares"] }}</td>
        <td>{{ i["price"] }}</td>
        <td>{{ i["transactions"] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{%endblock%}